<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        re.redirect("/")
    } %>


<%- messages() %>
    
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="position-box">
    <div class="login-set-up">
        <form action="add-inventory" method="post">
            <div>
                <%- drop %>
            </div>
            <div>
                <label for="inv_make">Inventory Make: </label>
                <input type="text" name="inv_make" id="inv_make" required minlength="3" pattern="[A-Za-z0-9\s]{3,}" placeholder="Min of 3 characters"  value="<%= locals.inv_make%>" oninvalid="setCustomValidity('Please enter at least 3 alphabetic characters (A-Z) or spaces.')" oninput="setCustomValidity('')" >
            </div>
            <div>
                <label for="inv_model">Inventory Model: </label>
                <input type="text" name="inv_model" id="inv_model" required minlength="3" pattern="[A-Za-z0-9 ]{3,}" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" oninvalid="setCustomValidity('Please enter at least 3 characters, which can be letters (A-Z), numbers (0-9), or spaces.')" oninput="setCustomValidity('')">
            </div>
            <div>
                <label for="inv_year">Inventory Year: </label>
                <input type="number" name="inv_year" id="inv_year" required placeholder="Four digit year" value="<%=locals.inv_year%>" oninvalid="setCustomValidity('Please enter a valid four-digit year.')" oninput="setCustomValidity('')">
            </div>
            <div>
                <label for="inv_description">Inventory Description: </label>
                <textarea name="inv_description" id="inv_description" rows="5" cols="50" required><%= locals.inv_description %></textarea>
            </div>
            <div>
                <label for="inv_image">Vehicle Image Path:</label>
                <input type="text" name="inv_image" id="inv_image" required value="<%- locals.inv_image || '/images/vehicles/no-image.png' %>">
            </div>
            <div>
                <label for="inv_thumbnail">Vehicle Thumbnail Path:</label>
                <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="<%- locals.inv_thumbnail || '/images/vehicles/no-image.png' %>">
            </div>
            <div>
                <label for="inv_price">Vehicle Price:</label>
                <input type="number" name="inv_price" id="inv_price" required placeholder="Decimal or Integer" value="<%=locals.inv_price%>" oninvalid="setCustomValidity('Please enter a valid price. Decimal or integer values are accepted, and the value cannot be negative.')" oninput="setCustomValidity('')" >
            </div>
            <div>
                <label for="inv_miles">Vehicle Miles:</label>
                <input type="number" name="inv_miles" id="inv_miles" required placeholder="Digits only" value="<%= locals.inv_miles%>"  oninvalid="setCustomValidity('Please enter a valid number for miles. Only positive digits are allowed.')" oninput="setCustomValidity('')" >
            </div>
            <div>
                <label for="inv_color">Vehicle Color:</label>
                <input type="text" name="inv_color" id="inv_color" required placeholder="Enter color" value="<%= locals.inv_color%>" oninvalid="setCustomValidity('Please enter a valid color name. Only letters and spaces are allowed.')" oninput="setCustomValidity('')">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>